.chat__header{
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid lightgray;
    height: 20px;
}
.chat__headerinfo{
    flex: 1;
    padding-left: 20px;
}
.chat__headerinfo > h3{
  font-size: 20px;
    margin-bottom: 3px;
    font-weight: 500;
}
.chat__headerinfo >p{
    color: gray;
}


.dropdown {
    background-color: white;
  position: absolute;
  top: 100%;
  right: 0px;
  width: 200px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  box-shadow: 0 16px 24px 2px rgba(66, 42, 42, 0.14);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.addbtn{
    margin-right: 5px;
}
li{
  padding: 8px 8px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}